@font-face {
  font-family: "gop";
  src: url("../fonts/GearsOfPeace.ttf");
}

body{
    background-color:#532F2F;
    margin: auto;
}

h1{
  padding-top: 10px;
  margin:0px;
  font-size: 30px;
  }

h2{
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  /* display:inline; */
}

.textred
{
	color:#AD2B0A;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:15px;
	letter-spacing:2px;
	font-family:gop;
	padding-left:10px;
}

#container{
    width:1070px;
}

#left{
    float:left;
    width:450px;
    margin-left: 10px;
}

.leftpanel{
    background-color:#A86C6C;
    margin-top:10px;
    margin-bottom:10px;
    /* border-style: solid;
    border-width: 1px; */
}

#right{
    float:right;
    width:600px;
}

#ssname{
    height:90px;
	color:#AD2B0A;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:15px;
	letter-spacing:2px;
	font-family:gop;
}

#ssname input[type=text] {
	margin-top:10px;
	letter-spacing:2px;
	font-family: gop;
	border: none;
	background-color:#BC9595;
	width: 200px;
	color:#D0C0C0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:15px;	
}

#ssedit{
    height:75px;
}

#sssblocks{
    height:130px;
}

#sssblocks{
    height:130px;
}

#sspblocks{
    height:75px;

}

#sswblocks{
    height:75px;
}

#ssinfos{
    height:180px;
}

#editortitle{
    height: 90px;
	line-height:80px;
	text-align:center;
	color:#AD2B0A;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:30px;
	letter-spacing:2px;
	font-family:gop;
	padding-left:10px;		
}

#editormain{
    height: 575px;
	line-height:0px;
    background-color:#D0C0C0;
}